@import './prism';

/*! purgecss start ignore */
article {
    p,
    li {
        line-height: 2;
    }

    em {
        color: #999;
    }

    h2,
    h3 {
        font-weight: bold;
        margin: 1.8em 0;

        &::after {
            content: '';
            position: relative;
            display: block;
            width: 100%;
            height: 1px;
            background: #ccc;
            margin: 0.2em 0;
        }
    }

    a {
        color: #1976d2;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    blockquote {
        padding-left: 1em;
        color: var(--text-light);
        border-left: 3px solid var(--text-light);
    }

    pre {
        background: #eee;
        padding: 10px;
        border-radius: 10px;
    }

    code {
        font-family: var(--bs-font-monospace);
    }

    .inline-code {
        background: rgba(175, 184, 193, 0.2);
        border-radius: 5px;
        font-size: 0.875em;
        padding: 2px 5px;
        color: inherit;
        word-wrap: break-word;
    }
}

:root.dark-mode {
    article {
        pre {
            background: #2d2d2d;
            padding: 10px;
            border-radius: 5px;
        }

        .inline-code {
            background: #2d2d2d;
            color: #d63384;
        }
    }
}
/*! purgecss end ignore */
