:root {
    --text-color: black;
    --text-light: rgba(0 0 0 / 0.5);
    --bg-color: rgba(0, 0, 0, 0.01);
    --inverse-color: white;
}

body {
    background: var(--bg-color);
    color: var(--text-color);

    transition: all 0.5s linear;
}

.bg-primary {
    background: var(--bs-primary) !important;
}

.bg-dark {
    background: var(--bs-dark) !important;
}

.form-check-input {
    transition: all 1s linear;

    &:checked {
        background-color: var(--bg-color);
        border-color: var(--bg-color);
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

.hover-cursor-pointer:hover {
    cursor: pointer;
}

:root.dark-mode {
    --bs-primary: #35363a;
    --bs-dark: #303030;
    --text-color: #ddd;
    --text-light: #bbb;
    --bg-color: #202124;
    --inverse-color: #202124;

    img {
        filter: brightness(0.8) contrast(1.2);
    }

    .btn-primary {
        background-color: var(--bs-primary);
        color: var(--text-color);
        border-color: var(--bs-primary);

        &:hover {
            background-color: var(--text-color);
            color: var(--bs-primary);
            border-color: var(--text-color);
        }
    }

    .btn-outline-primary {
        color: var(--text-color);
        border-color: var(--text-color);

        &:hover {
            background-color: var(--text-color);
            color: var(--bs-primary);
            border-color: var(--bs-primary);
        }
    }

    .page-item.active .page-link {
        background-color: var(--text-color);
        color: var(--bs-primary);
        border-color: var(--bs-primary);
    }

    .page-link {
        background-color: var(--bs-primary);
        color: var(--text-color);
        border-color: var(--bs-primary);
    }
}
