a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

blockquote {
    padding-left: 1em;
    border-left: 3px solid #ccc;
}

.pointer-on-hover {
    &:hover {
        cursor: pointer;
    }
}
